.headerTitle {
    display: flex;
}

a {
    color: grey;
    padding-top: 38px;
    padding-left: 10px;
}

.headerContainer {
    display: flex;
}

.lambdaLogo {
    max-width: 55px;
}

.headerContent{
max-width: 99%;
padding-bottom: 13px;
}